/**
  El tag style se define en el head de nuestro html
  Existen 3 tipos de selectores: Los de clase, los de id y los de etiqueta
*/
/*
  General:
  Rojo: #ef645f
  Rojo claro: #FFD8D5
  Rojo oscuro: #b73235
  Negro: #2D2D2A
  Blanco: #FFFFFF
  Gris: #E9E8E8
*/
html {
  font-family: 'Nunito', sans-serif;
  color: #2D2D2A;
}

a {
  text-decoration: none;
  color: #ef645f;
  /*Rojo*/
}

body {
  margin: 0px;
}

a:hover {
  opacity: 0.7;
}

.title {
  text-transform: uppercase;
}

.fa-star {
  color: #ffc400;
}

.fa-star-half-alt {
  color: #ffc400;
}

.paragraph {
  line-height: 1.8em;
  font-weight: 300;
}

.container {
  background: #EC6F66;
  /* fallback for old browsers <- Respaldo de pagina con
  orientacion enhancement progressive*/
  background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F3A183, #EC6F66);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
  /*Para aprender flexbox: flexbox froggy*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: white;
  /*box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color */
  box-shadow: 0px 3px 6PX rgba(0, 0, 0, 0.16), 0px 3px 6PX rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;
  padding: 2em;
}

.actions {
  position: absolute;
  top: 1em;
  right: 1em;
}

.close {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #ef645f;
  display: inline-block;
  box-shadow: 0px 3px 6PX rgba(0, 0, 0, 0.16), 0px 3px 6PX rgba(0, 0, 0, 0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  border-spacing: 0;
  min-width: 800px;
}

.table td, .table th {
  padding: 1em;
  text-align: left;
  ;
}

.table tr:nth-child(even) {
  background-color: #E9E8E8;
}

/*Acomodar hasta abajo...*/
.made-by {
  padding-top: 3em;
  text-align: center;
  bottom: 0;
  font-weight: 300;
}

.fa-pizza-slice{
  color: #ef645f;
}

.title-item {
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #C6426E;
  A continuacion se realiza un shorthand property*/
  border-bottom: solid 2px #ef645f;
  padding-bottom: 1em;
  font-size: 2em;
}

.adress {
  font-weight: bold;
  color: #ef645f;
  font-size: 1.2em;
}

.main-image {
  float: left;
  margin-right: 2em;
  border-radius: 4px;
}

.position {
  background-color: #ef645f;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin-right: .5em;
}

@media (max-width: 900px) {
  .content {
    overflow-x: scroll;
    width: 80%;
  }
}

.square {
  background-color: red;
  height: 100px;
  width: 100px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.square1 {
  background-color: blue;
  height: 50px;
  width: 50px;
  position: absolute;
}
